    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>org.processing.app</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>pde</string>
            </array>
        </dict>
    </array>
    <key>CFBundleDocumentTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>pde</string>
            </array>
            <key>LSTypeIsPackage</key>
            <false/>
            <key>CFBundleTypeIconFile</key>
            <string>macos/pde.icns</string>
            <key>CFBundleTypeName</key>
            <string>Processing Source Code</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>pyde</string>
            </array>
            <key>LSTypeIsPackage</key>
            <false/>
            <key>CFBundleTypeIconFile</key>
            <string>macos/pde.icns</string>
            <key>CFBundleTypeName</key>
            <string>Processing Python Source Code</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>pdez</string>
            </array>
            <key>LSTypeIsPackage</key>
            <false/>
            <key>CFBundleTypeIconFile</key>
            <string>macos/pdez.icns</string>
            <key>CFBundleTypeName</key>
            <string>Processing Sketch Bundle</string>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
        </dict>
        <dict>
            <key>CFBundleTypeExtensions</key>
            <array>
                <string>pdex</string>
            </array>
            <key>LSTypeIsPackage</key>
            <false/>
            <key>CFBundleTypeIconFile</key>
            <string>macos/pdex.icns</string>
            <key>CFBundleTypeName</key>
            <string>Processing Contribution Bundle</string>
            <key>CFBundleTypeRole</key>
            <string>Viewer</string>
        </dict>
    </array>
    <key>NSCameraUsageDescription</key>
    <string>The sketch you're running needs access to your video camera.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>The sketch you're running needs access to your microphone.</string>